 .u-section-1 {
  min-height: 808px;
}

.u-section-1 .u-image-1 {
  height: 281px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 166px;
  height: 195px;
  filter: brightness(3.55);
  margin: -261px auto 0 calc(((100% - 1140px) / 2) + 54px);
}

.u-section-1 .u-text-1 {
  font-family: Qanelas-ExtraBold;
  font-size: 4.5rem;
  transition-duration: 0.5s;
  margin: 0 50px;
}

.u-section-1 .u-text-2 {
  transition-duration: 0.5s;
  font-family: Qanelas-ExtraBold;
  font-size: 3.75rem;
  background-image: none;
  margin: 75px 50px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Qanelas-ExtraBold;
  letter-spacing: normal;
  margin: 59px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    transition-duration: 0.5s;
    --animation-custom_in-scale: 1;
    transform: scale(1.1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2) + 54px);
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -152px;
    margin-right: calc(((100% - 940px) / 2) + -347px);
    margin-left: calc(((100% - 940px) / 2) + 247px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 161px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    margin-top: -257px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-top: -176px;
    margin-right: calc(((100% - 720px) / 2) + -210px);
    margin-left: calc(((100% - 720px) / 2) + 210px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 167px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 895px;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-top: -233px;
    margin-right: calc(((100% - 540px) / 2) + -82px);
    margin-left: calc(((100% - 540px) / 2) + 166px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 224px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -111px;
    margin-right: calc(((100% - 340px) / 2) + -170px);
    margin-left: calc(((100% - 340px) / 2) + 170px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 133px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 13px;
  }
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  color: #000000 !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-text-2 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  color: #000000 !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-text-2 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  color: #ffffff !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-text-1 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  color: #ffffff !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-text-1 {
  border-style: solid !important;
  border-width: 0px !important;
}@font-face {
  font-family: 'Qanelas-ExtraBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Qanelas-ExtraBold.ttf);
}