 .u-section-1 {
  background-image: url("/images/4e1f5139c4bd063ae26f2b9380a11155ce87fb5535b223b0e4f545fa8c349d1e836c97209051a424323c69b5f3549d170244c2ced53a318bcfcfd4_1280.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 622px;
}

.u-section-1 .u-text-1 {
  width: 902px;
  margin: 60px auto 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 307px;
  width: 303px;
  margin: 37px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 604px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
}@font-face {
  font-family: 'Qanelas-ExtraBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Qanelas-ExtraBold.ttf);
}