 .u-section-1 {
  background-image: url("/images/229013510-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 595px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: Qanelas-ExtraBold;
  font-size: 3rem;
  margin: 174px 317px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 247px;
  height: 247px;
  box-shadow: 0 0 30px 4px rgba(0,0,0,1);
  background-image: url("/images/bc3dd67fee207f1a5f3931231b619a896f9f51bf_hq.jpg");
  background-position: 50% 50%;
  margin: -52px auto 0 77px;
}

.u-section-1 .u-text-2 {
  text-shadow: 0 0 8px rgba(0,0,0,1);
  font-family: Qanelas-ExtraBold;
  margin: -188px 278px 0 404px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 700;
  font-family: Qanelas-ExtraBold;
  margin: 10px auto 60px 404px;
  padding: 9px 40px 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 345px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -336px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: 346px;
    margin-top: 125px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 26px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 389px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -351px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 223px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 52px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1061px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 371px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 194px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 90px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 939px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 330px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -295px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 70px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 46px;
  }
}@font-face {
  font-family: 'Qanelas-ExtraBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Qanelas-ExtraBold.ttf);
}